.event-list-container {
    max-width: 1200px;
    margin: 0 auto;
}

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.movie-box {
    flex: 0 0 calc(33.33% - 20px);
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.movie-box img {
    max-width: 100%;
    height: auto;
}

.navigation-arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navigation-arrows button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.navigation-arrows button:hover {
    background-color: #45a049;
}
