.card-style {
    max-width: 1200px;
    margin: 0 auto;
}

.img-style {
    width: 100%;
    height: 200;
    object-fit: cover;
}

.news-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}