<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3304/3304517.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#000000" />
        <meta
            name="description"
            content="This page is called sitemap, it used to identify all possible pages in this project"
        />
        <title>HTML Sitemap</title>
    </head>
    <body>
        <h1>HTML Sitemap</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/events">Movie events list</a></li>
            <li><a href="/success">Success page</a></li>
            <li><a href="/events/calendar">Calendar</a></li>
            <li><a href="/movie/seats/*">Seat planner</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </body>
</html>
